@*<!DOCTYPE html>
<html lang="en">

<head>
    <title>plateform</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plateform.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>*@
@{
    ViewData["Title"] = "Volunteer";
}

<body>
   
    <div class="container-fluid p-0 mt-5">
        <div class=" row  border ms-4 me-4 ">
            <div class="col-lg-6 col-md-12 ps-0 pe-0">
                <div class=" slider-img h-75">
                    <div class="mySlides">
                        <div class="numbertext">1 / 6</div>
                        <img src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-4.png">
                    </div>

                    <div class="mySlides ">
                        <div class="numbertext ">2 / 6</div>
                        <img src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-4.png">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext ">3 / 6</div>
                        <img src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-4.png">
                    </div>

                    <div class="mySlides ">
                        <div class="numbertext ">4 / 6</div>
                        <img src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-4.png">
                    </div>

                    <div class="mySlides">
                        <div class="numbertext ">5 / 6</div>
                        <img src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-4.png">
                    </div>

                    <div class="mySlides ">
                        <div class="numbertext ">6 / 6</div>
                        <img src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-4.png">
                    </div>

                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>


                </div>
                <div class="row gx-1 pt-3 h-25">
                    <div class="column ">
                        <img class="demo cursor "
                             src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-5.png" style="width:100%"
                             onclick="currentSlide(1)" alt="The Wood">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-5.png"
                             style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-5.png"
                             style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-5.png"
                             style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-5.png"
                             style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
                    </div>
                    <div class="column">
                        <img class="demo cursor" src="/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-5.png"
                             style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
                    </div>
                </div>
                <!-- </div> -->
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card-body">
                    <div class="m-2">
                        <h4 class="card-text">CSR initiative stands for Coffee & Farmer Equity</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam.
                        </p>

                    </div>

                    <div class="border-top border-bottom mt-5">
                        <div class="d-flex justify-content-center">

                            <p class="DateTime-title">Plant 10,000 Trees</p>
                        </div>

                        <div class="d-flex flex-wrap justify-content-around">
                            <div class=" d-flex">
                                <img class=" mt-2 goal-button" src="/images/Seats-left.png" alt="">
                                <div class="mx-2">
                                    <p class="mb-0">10</p>
                                    <p class="mt-0">Seats left</p>
                                </div>
                            </div>
                            <div class=" d-flex">
                                <img class="mt-2 goal-button" src="/images/mission.png" alt="">
                                <div class="mx-2 mt-2">
                                    <div class="progress" style="height: 10px; width: 180px; ">
                                        <div class="progress-bar" role="progressbar" style="width: 70%;"
                                             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="mt-0">8000 achieved</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" d-flex justify-content-around flex-wrap  mt-3 ">
                        <div class=" mt-2 fav-worker-button">
                            <button class="btn btn-outline-secondary " id=heart>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                Add to Favourite
                            </button>
                        </div>
                        <div class=" mt-2 fav-worker-button">
                            <button class="btn btn-outline-secondary ">
                                <img src="/images/add1.png">
                                Recommend to a Co-Worker
                            </button>
                        </div>
                    </div>

                    <div class="border-top  mt-4 d-flex justify-content-center">

                        <div class="small-ratings rating-btn">
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star "></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <div class="row  d-flex justify-content-center mt-3">
                        <div class="col border pt-1 me-2 mt-2">
                            <img src="/images/pin1.png ">
                            <p class="text-muted mb-0 mt-3">city</p>
                            <p class="mb-1">London</p>
                        </div>
                        <div class="col border pt-1 me-2 mt-2">
                            <img src="/images/web.png">
                            <p class="text-muted mb-0 mt-3">Theme </p>
                            <p class="mb-1">Environment</p>
                        </div>
                        <div class="col border pt-1 me-2 mt-2">
                            <img src="/images/calender.png">
                            <p class="text-muted mb-0 mt-3">Date</p>
                            <p class="mb-1"> Ongoing Opportunity</p>
                        </div>
                        <div class="col border pt-1 me-2 mt-2">
                            <img src="/images/organization.png">
                            <p class="text-muted mb-0 mt-3">Organization</p>
                            <p class="mb-1"> CSE Network</p>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn applybutton">
                            Apply Now
                            <img src="/images/right-arrow.png" class="ms-3">
                        </button>
                    </div>

                </div>
            </div>
        </div>


        <!-- Tabs navs -->
        <div class="container-fluid p-0">
            <div class="row row m-4">
                <div class="col-lg-7 pt-3">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-1" type="button"
                                    role="tab" aria-controls="home" aria-selected="true">
                                Mission
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2" type="button"
                                    role="tab" aria-controls="profile" aria-selected="false">
                                Organization
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3" type="button"
                                    role="tab" aria-controls="contact" aria-selected="false">
                                Comments
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
                            <h3>Introduction</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <p>
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                nulla
                                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                deserunt
                                mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <h3>Challenge</h3>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit
                                in
                                voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut
                                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                            <h3>Documents</h3>
                            <div>
                                <button class="btn btn-outline-secondary fav-button border-light">
                                    <img src="/images/doc.png">
                                    lorem-ipsum.pdf
                                </button>
                                <button class="btn btn-outline-secondary fav-button border-light">
                                    <img src="/images/doc.png">
                                    at_vero_eos_accusamus.doc
                                </button>
                                <button class="btn btn-outline-secondary fav-button border-light" onclick="window.open('https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/LV_MOTOR_DOCUMENT_OF_INSURANCE.pdf');">
                                    <img src="/images/doc.png">
                                    important_doc.xls
                                </button>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="tab-2" role="tabpanel">
                            It
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            scrambled it to make a type specimen
                            book. It has survived not only five centuries, but also the leap into electronic
                            typesetting, remaining essentially
                            unchanged. It was popularised in the 1960s with the release of Letraset sheets
                            containing
                        </div>


                        <div class="tab-pane fade" id="tab-3" role="tabpanel">
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class=" mt-3">
                                <button type="button" class="btn applybutton">
                                    Post Comments
                                </button>
                            </div>
                            <div class="mt-3 p-3 border bg-light overflow-auto comment-container">
                                <div class="border p-2 mb-2 bg-white d-flex ">
                                    <img src="/images/volunteer1.png" class="volunteer-img">
                                    <div class="mx-3 comment">
                                        <h6 class="mb-0"> Margaret Walsh </h6>
                                        <p>Monday, Octomber 21, 2019, 4:57 PM </p>
                                        <p class="mb-0">Nice Mission Great Opertunity For Peoples </p>
                                    </div>
                                </div>
                                <div class="border p-2 mb-2 bg-white d-flex">
                                    <img src="/images/volunteer1.png" class="volunteer-img">
                                    <div class="mx-3 comment">
                                        <h6 class="mb-0"> Margaret Walsh </h6>
                                        <p>Monday, Octomber 21, 2019, 4:57 PM </p>
                                        <p class="mb-0">Nice Mission Great Opertunity For Peoples </p>
                                    </div>
                                </div>
                                <div class="border p-2  mb-2 bg-white d-flex">
                                    <img src="/images/volunteer1.png" class="volunteer-img">
                                    <div class="mx-3 comment">
                                        <h6 class="mb-0"> Margaret Walsh </h6>
                                        <p>Monday, Octomber 21, 2019, 4:57 PM </p>
                                        <p class="mb-0">Nice Mission Great Opertunity For Peoples </p>
                                    </div>
                                </div>
                                <div class="border p-2 mb-2 bg-white d-flex">
                                    <img src="/images/volunteer1.png" class="volunteer-img">
                                    <div class="mx-3 comment">
                                        <h6 class="mb-0"> Margaret Walsh </h6>
                                        <p>Monday, Octomber 21, 2019, 4:57 PM </p>
                                        <p class="mb-0">Nice Mission Great Opertunity For Peoples </p>
                                    </div>
                                </div>
                                <div class="border p-2 mb-2 bg-white d-flex">
                                    <img src="/images/volunteer1.png" class="volunteer-img">
                                    <div class="mx-3 comment">
                                        <h6 class="mb-0"> Margaret Walsh </h6>
                                        <p>Monday, Octomber 21, 2019, 4:57 PM </p>
                                        <p class="mb-0">Nice Mission Great Opertunity For Peoples </p>
                                    </div>
                                </div>

                            </div>
                            <!-- -------- -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-5  pt-3">
                    <div class="border  ps-4 pb-3">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-1"
                                        type="button" role="tab" aria-controls="home" aria-selected="true">
                                    <h4 class="text-muted">Information</h4>
                                </button>
                            </li>
                        </ul>
                        <div class="text-muted pe-3">
                            <div class="row border-bottom mt-3">
                                <p class="col-3">Skills </p>
                                <p class="col-9">Cool, Easy going, Math, Computer</p>
                            </div>
                            <div class="row border-bottom mt-3">
                                <p class="col-3"> Days </p>
                                <p class="col-9">Cool, Easy going, Math, Computer</p>
                            </div>
                            <div class="row mt-3">
                                <p class="col-3">Rating </p>
                                <div class="col-9 small-ratings pt-1 d-flex">
                                    <i class="fa fa-star rating-color pt-1"></i>
                                    <i class="fa fa-star rating-color pt-1"></i>
                                    <i class="fa fa-star rating-color pt-1"></i>
                                    <i class="fa fa-star pt-1"></i>
                                    <i class="fa fa-star pt-1"></i>
                                    &nbsp;&nbsp;
                                    <p class="pt-0"> (by 125 volunteers)</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="border mt-4">
                        <ul class="nav nav-tabs  pe-4 ps-4 " id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-1"
                                        type="button" role="tab" aria-controls="home" aria-selected="true">
                                    <h4 class="text-muted">Recent Volunteers</h4>
                                </button>
                            </li>
                        </ul>
                        <div class="row mt-3 text-muted pe-4 ps-4 ">
                            <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                                <img src="/images/volunteer1.png" class="volunteer-img">
                                <p>Andrew Johnson</p>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-4 col-6 ">
                                <img src="/images/volunteer2.png" class="volunteer-img">
                                <p>Charles Vigue</p>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                                <img src="/images/volunteer3.png" class="volunteer-img">
                                <p>Kathryn Roberts</p>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                                <img src="/images/volunteer4.png" class="volunteer-img">
                                <p>Estella Fowles</p>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                                <img src="/images/volunteer5.png" class="volunteer-img">
                                <p>Rose Lewis</p>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                                <img src="/images/volunteer6.png" class="volunteer-img">
                                <p>Raymond Pabon</p>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                                <img src="/images/volunteer7.png" class="volunteer-img">
                                <p>Kathryn Roberts</p>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-4 col-6 ">
                                <img src="/images/volunteer8.png" class="volunteer-img">
                                <p>Sarah Santillan</p>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-4 col-6">
                                <img src="/images/volunteer9.png" class="volunteer-img">
                                <p>Linda Richards</p>
                            </div>

                            
                        </div>
                        <div class="row  ms-0 me-0">
                            <button class="col-2 border">
                                <img src="~/images/left.png" />
                            </button>

                            <p class="mb-0 col-8 border text-center">1 - 9 of 25 Recent Volunteers</p>

                            <button class="col-2 border">
                                <img src="~/images/arrow.png" />
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="">
            <h3 class="text-muted text-center">Related mission</h3>
            <div class="row container-fluid">
                <div class="col-lg-4 col-sm-6 col-xs-12 mb-3">
                    <div class="card">
                        <div class="grid-img">
                            <img src="/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                                 class="card-img-top" alt="...">
                            <div class="d-flex justify-content-center">
                                <p class="card-title">Nutrition</p>
                            </div>
                            <div>

                                <div class="location over-buttons px-3 py-1 ">
                                    <img src="/images/pin.png" />
                                    <span>Toronto</span>
                                </div>
                                <div class="add-favourite over-buttons px-3 py-1">
                                    <img src="/images/heart.png" />
                                </div>
                                <div class="add-user over-buttons  px-3 py-1">
                                    <img src="/images/user.png" />
                                </div>

                            </div>
                        </div>
                        <div class="card-body">


                            <div class="m-2">
                                <h4 class="card-text">
                                    Some quick example text to build on the card title and make up the
                                    bulk of the card's
                                    content.
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                                    mollitia voluptate minus
                                    harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                                    alias unde, esse possimus
                                    asperiores?
                                </p>
                                <div class="d-flex justify-content-between">
                                    <p class="review-stat">Tree Canada</p>
                                    <div class="small-ratings">
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="border-top border-bottom">
                                <div class="d-flex justify-content-center">

                                    <p class="DateTime-title">From date to until date</p>
                                </div>

                                <div class="d-flex flex-wrap justify-content-around">
                                    <div class=" d-flex justify-content-around">
                                        <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                        <div class="mx-2">
                                            <p class="mb-0">23</p>
                                            <p class="mt-0">hhhh</p>
                                        </div>
                                    </div>
                                    <div class=" d-flex justify-content-around">
                                        <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                        <div class="mx-2">
                                            <p class="mb-0">23</p>
                                            <p class="mt-0">hhhh</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <button type="button" class="btn applybutton">
                                    Apply
                                    <img src="/images/right-arrow.png">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 mb-3">
                    <div class="card">
                        <div class="grid-img">
                            <img src="/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png"
                                 class="card-img-top" alt="...">
                            <div class="d-flex justify-content-center">
                                <p class="card-title">Nutrition</p>
                            </div>
                            <div>

                                <div class="location over-buttons px-3 py-1 ">
                                    <img src="/images/pin.png" />
                                    <span>Toronto</span>
                                </div>
                                <div class="add-favourite over-buttons px-3 py-1">
                                    <img src="/images/heart.png" />
                                </div>
                                <div class="add-user over-buttons  px-3 py-1">
                                    <img src="/images/user.png" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body">


                            <div class="m-2">
                                <h4 class="card-text">
                                    Some quick example text to build on the card title and make up the
                                    bulk of the card's
                                    content.
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                                    mollitia voluptate minus
                                    harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                                    alias unde, esse possimus
                                    asperiores?
                                </p>
                                <div class="d-flex justify-content-between">
                                    <p class="review-stat">Tree Canada</p>
                                    <div class="small-ratings">
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="border-top border-bottom">
                                <div class="d-flex justify-content-center">

                                    <p class="DateTime-title">From date to until date</p>
                                </div>

                                <div class="d-flex flex-wrap justify-content-around">
                                    <div class=" d-flex justify-content-around">
                                        <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                        <div class="mx-2">
                                            <p class="mb-0">23</p>
                                            <p class="mt-0">hhhh</p>
                                        </div>
                                    </div>
                                    <div class=" d-flex justify-content-around">
                                        <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                        <div class="mx-2">
                                            <p class="mb-0">23</p>
                                            <p class="mt-0">hhhh</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <button type="button" class="btn applybutton">
                                    Apply
                                    <img src="/images/right-arrow.png">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12 mb-3">
                    <div class="card">
                        <div class="grid-img">
                            <img src="/images/Nourish-the-Children-in--African-country-1.png" class="card-img-top"
                                 alt="...">
                            <div class="d-flex justify-content-center">
                                <p class="card-title">Nutrition</p>
                            </div>
                            <div>

                                <div class="location over-buttons px-3 py-1 ">
                                    <img src="/images/pin.png" />
                                    <span>Toronto</span>
                                </div>
                                <div class="add-favourite over-buttons px-3 py-1">
                                    <img src="/images/heart.png" />
                                </div>
                                <div class="add-user over-buttons  px-3 py-1">
                                    <img src="/images/user.png" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body">


                            <div class="m-2">
                                <h4 class="card-text">
                                    Some quick example text to build on the card title and make up the
                                    bulk of the card's
                                    content.
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                                    mollitia voluptate minus
                                    harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                                    alias unde, esse possimus
                                    asperiores?
                                </p>
                                <div class="d-flex justify-content-between">
                                    <p class="review-stat">Tree Canada</p>
                                    <div class="small-ratings">
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star rating-color"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="border-top border-bottom">
                                <div class="d-flex justify-content-center">

                                    <p class="DateTime-title">From date to until date</p>
                                </div>

                                <div class="d-flex flex-wrap justify-content-around">
                                    <div class=" d-flex justify-content-around">
                                        <img class="w-50 h-50 mt-2 " src="/images/Seats-left.png" alt="">
                                        <div class="mx-2">
                                            <p class="mb-0">23</p>
                                            <p class="mt-0">hhhh</p>
                                        </div>
                                    </div>
                                    <div class=" d-flex justify-content-around">
                                        <img class="w-50 h-50 mt-2 " src="/images/mission.png" alt="">
                                        <div class="mx-2">
                                            <p class="mb-0">23</p>
                                            <p class="mt-0">hhhh</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <button type="button" class="btn applybutton">
                                    Apply
                                    <img src="/images/right-arrow.png">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("demo");

        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }

        slides[slideIndex - 1].style.display = "block";

        dots[slideIndex - 1].className += " active";

    }
</script>
<script>
    $(document).ready(function () {
        $("#heart").click(function () {
            if ($("#heart").hasClass("liked")) {
                $("#heart").html('<i class="fa fa-heart-o" aria-hidden="true"></i>Add to Favourite');
                $("#heart").removeClass("liked");
            } else {
                $("#heart").html('<i class="fa fa-heart" aria-hidden="true"></i>Add to Favourite');
                $("#heart").addClass("liked");
            }
        });
    });
</script>

</html>