@model CI_plateform.Models.ViewModels.ForgotViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>lost password</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <!--<script src="js/bootstrap.bundle.min.js"></script> -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>



</head>

<body>
    <div class="container-fluid  main">
        <div class="row vh-100 gx-0">
            <!-- Carousel -->
            <div class="img-slider col-lg-8 gx-0">
                <div id="demo" class="carousel h-100 slide" data-bs-ride="carousel">

                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                    </div>

                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner h-100">
                        <div class="carousel-item active h-100">
                            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="Los Angeles" class="slideimg">
                            <div class="carousel-caption">
                                <h3 class="img-heading">Sed ut perspiciatis unde omnis iste natus voluptatem.</h3>
                                <p class="img-discription">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item h-100">
                            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="Chicago" class="slideimg">
                            <div class="carousel-caption">
                                <h3 class="img-heading">Sed ut perspiciatis unde omnis iste natus voluptatem.</h3>
                                <p class="img-discription">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item h-100">
                            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="New York" class="slideimg">
                            <div class="carousel-caption">
                                <h3 class="img-heading">Sed ut perspiciatis unde omnis iste natus voluptatem.</h3>
                                <p class="img-discription">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
            </div>

            <div class="loginpage col">
                <div class="spacebetween">
                    <!-- <div class="row"> -->
                    <div class="text-center">
                        <h3 class="text-center">Forgot password</h3>
                        <p class="text-center">
                            Enter your email address you've using for
                            your account below and we will send you a password reset link
                        </p>
                    </div><br>

                    <form method="post" asp-action="forgot" asp-controller="Home">
                        
                        <div class="form-group  mb-3 form-input">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" id="emailId" placeholder="Enter your email address..." />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="mb-3 form-input">
                            <button type="submit" class="login-btn mb-4">Reset my Password</button>
                        </div>

                        <div class="text-center  mb-3">
                            <a class="lostpass" href="login">Login</a>
                        </div>

                        <!-- <div class="privacy-policy text-center "><a class="privacy" href="">Privacy Policy</a></div> -->

                    </form>
                </div>
                <div class="privacy-policy text-center "><a class="privacy" href="">Privacy Policy</a></div>
                <!-- <footer>sdfghjkliuyhgtfd</footer> -->

            </div>
        </div>
        <!-- <footer>sdfghjkliuyhgtfd</footer> -->
    </div>



</body>
</html>
