<div class="col-lg-4 col-sm-6 col-xs-12 mb-3">
    <div class="card">
        <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png" class="card-img-top"
             alt="...">
        <div class="d-flex justify-content-center">
            <p class="card-title">Nutrition</p>
        </div>

        <div class="card-body">
            
            <div class="m-2">
                <h4 class="card-text">
                    Some quick example text to build on the card title and make up the
                    bulk of the card's
                    content.
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                    mollitia voluptate minus
                    harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                    alias unde, esse possimus
                    asperiores?
                </p>
                <div class="d-flex justify-content-between">
                    <p class="review-stat">Tree Canada</p>
                    <div class="small-ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>

            <div class="border-top border-bottom">
                <div class="d-flex justify-content-center">

                    <p class="DateTime-title">From date to until date</p>
                </div>

                <div class="d-flex flex-wrap justify-content-around">
                    <div class=" d-flex justify-content-around">
                        <img class="w-50 h-50 mt-2 " src="~/images/Seats-left.png" alt="">
                        <div class="mx-2">
                            <p class="mb-0">23</p>
                            <p class="mt-0">hhhh</p>
                        </div>
                    </div>
                    <div class=" d-flex justify-content-around">
                        <img class="w-50 h-50 mt-2 " src="~/images/mission.png" alt="">
                        <div class="mx-2">
                            <p class="mb-0">23</p>
                            <p class="mt-0">hhhh</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button type="button" class="btn applybutton">
                    Apply
                    <img src="~/images/right-arrow.png">
                </button>
            </div>
        </div>
    </div>
</div>