<div class="row d-flex  mb-4">
    <!-- <div class="card d-flax mb-3"> -->
    <div class="col-lg-3 col-md-4  col-sm-5 col-xs-12 d-block  ps-0 pe-0">
           <img src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity-1.png" class="card-img-top h-100"
                    alt="...">
           <div class="d-flex justify-content-center">
                    <p class="card-title">Nutrition</p>
           </div>
    </div>
    
    <div class="card-body col-lg-9 col-md-8 col-sm-7 ">
        <div class="">
            <h5 class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's
                content.
            </h5>
            <p class="font-size">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis corrupti nesciunt
                mollitia voluptate minus
                harum, sequi fugiat quis excepturi ipsum animi quod reiciendis voluptatibus aperiam
                alias unde, esse possimus
                asperiores?
            </p>
        </div>

        <div class="d-flex justify-content-between">
            <div class="">
                <div class="d-flex">
                    <p class="review-stat me-4">Tree Canada</p>
                    <div class="small-ratings">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="m-1">
                    <button type="button" class="btn applybutton">
                        Apply
                        <img src="~/images/right-arrow.png">
                    </button>
                </div>
            </div>
            <div class=" pe-4 ps-4 border-top mt-3">
                <p class="DateTime-title">From date to until date</p>

                <div class="d-flex justify-content-around mt-4">
                    <div class=" d-flex justify-content-around">
                        <img class="w-50 h-50 mt-2 " src="~/images/Seats-left.png" alt="">
                        <div class="mx-2">
                            <p class="mb-0">23</p>
                            <p class="mt-0">hhhh</p>
                        </div>
                    </div>
                    <div class=" d-flex justify-content-around">
                        <img class="w-50 h-50 mt-2 " src="~/images/mission.png" alt="">
                        <div class="mx-2">
                            <p class="mb-0">23</p>
                            <p class="mt-0">hhhh</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
